@charset "utf-8";
/* CSS Document */

body{
	font:11px Arial, Helvetica, sans-serif;
	background: url('../img/BG.png') repeat scroll 0 0 #FFFFFF;
    border: 0 none;
   
    margin: 10px auto;
  /*  margin: 150px 0 80px;*/
    padding: 0;
    width:370px;
}
img{
	/*left:30%;*/
	position:absolute;
	margin-left: -50px ;
  /*  margin: 150px 0 80px;*/
   padding: 0;
    width:500px;
	
}
.demos-nav {
	float: left;
	width: 170px;
	font-size: 1.3em;
}

.demos-nav h4 {
	margin: 0;
	padding: 0;
	font: normal 1.1em "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	color: #e87b10;
	margin-top: 1.5em;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom:5px;
	line-height: 1.2em;
	border-bottom: 1px solid #F4F4F4;
}

.demos-nav li{
	list-style:none;
}

.demos-nav li a {
	border-bottom: 1px solid #F4F4F4;
	display:block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #555 ;
	margin:2px 0;
	height:13px;
}
.stylish{
	margin-top:100px;
	margin-left:125px;
width:100px;
height:100px;
display:block;
border-radius:66px;
-moz-border-radius:66px;
-webkit-border-radius:66px;
-khtml-border-radius:66px;
border:#ccc 4px double;
font-size:20px;
color:#888;
line-height:100px;
text-shadow:0 1px 0 #fff;
text-decoration:none;
text-align:center;
background:#ddd}

.stylish:hover{
border:#bbb 4px double;
color:#aaa;
text-decoration:none;
background:#e6e6e6}

button{
opacity: 0.8;	

	width: 120px;
  height: 120px;
    border:none;
}
button:hover{
	opacity:1.0;
}
#left{
	
	 background: transparent url("../img/left.png") ;
   	 background-repeat:no-repeat;
   
}
#info{
	
	 background: transparent url("../img/info.png") ;
   	 background-repeat:no-repeat;
   width: 120px;
  height: 120px;
}
#right{
	
	 background: transparent url("../img/right.png") ;
   	 background-repeat:no-repeat;


}

 .buttons button {
display:inline;
 }
 #mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
	font-size:20px;
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


#boxes #dialog2 {
  background:url(../img/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}
